@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans'), local('NotoSans'),
    url('../fonts/noto-sans-latin-400.woff2') format('woff2'),
    url('../fonts/noto-sans-latin-400.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('../fonts/noto-sans-latin-700.woff2') format('woff2'),
    url('../fonts/noto-sans-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url('../fonts/noto-sans-latin-900.woff2') format('woff2'),
    url('../fonts/noto-sans-latin-900.woff') format('woff');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Serif'), local('NotoSerif'),
    url('../fonts/noto-serif-v7-latin-400.woff2') format('woff2'),
    url('../fonts/noto-serif-v7-latin-400.woff') format('woff');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: bold;
    src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
    url('../fonts/noto-serif-v7-latin-700.woff2') format('woff2'),
    url('../fonts/noto-serif-v7-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Noto Sans Mono'), local('NotoSansMono'),
    url('../fonts/noto-sans-mono-400.woff2') format('woff2'),
    url('../fonts/noto-sans-mono-400.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans Mono';
    font-style: normal;
    font-weight: bold;
    src: local('Noto Sans Mono Bold'), local('NotoSansMono-Bold'),
    url('../fonts/noto-sans-mono-700.woff2') format('woff2'),
    url('../fonts/noto-sans-mono-700.woff') format('woff');
}
